.statusbar-overlay {
    background: #000000;
}
#map {
    height: 400px;
    width: 100%;
   }
.ratio {
    position: center center;
    size: 100% 100%;
    position: relative;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}